<%- include("partials/_header") %>
<div class="container-fluid">
    <h1>About</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime ab quod similique autem aliquid, dicta cumque distinctio cupiditate est eius ipsum, modi magnam nemo minima molestiae in ipsam quam voluptates ipsa illum dolore inventore temporibus hic. Harum magnam maiores dolorum necessitatibus accusantium illo ratione, enim ab voluptatem nobis pariatur modi.</p>
</div>