<%- include("partials/_header") %>
<div class="container-fluid">
    <h1>Compose</h1>
    <form action="/compose" class="form-group" method="post">
        <label for="blogTitle">Title</label>
        <input class="form-control" type="text" name="blogTitle" placeholder="Enter the Title" required minlength="10">
        <label for="blogContent">Content</label>
        <textarea class="form-control" name="blogContent" placeholder="Type the content" required minlength="200"></textarea>
        <button class="btn btn-primary mt-2" type="submit">Submit</button>
    </form>
</div>
