<%- include("partials/_header") %>
<div class="container-fluid">
    <h1>Sign In</h1>
    <form action="/signIn" class="form-group" method="post">
        <label for="username">Username</label>
        <input class="form-control" type="text" name="username" placeholder="Your Name">
        <label for="userPassword">Password</label>
        <input class="form-control" type="password" name="userPassword">
        <button class="btn btn-primary mt-2" type="submit">Submit</button>
    </form>
</div>

<div class="container-fluid mt-5">
    <h1 >Sign Out</h1>
    <button type="submit" class="btn btn-primary" onclick="signOut()">SIGN OUT</button>
</div>

<script>
    function signOut() {
        username = ""
    }
</script>