<%- include('../partials/head.ejs') %>


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">
            <%= title %>
        </h1>
        <% users.forEach(indiviualUserObject=> { %>
            <% if (indiviualUserObject.username == user) { %>
                <p class="text-muted">By <strong>
                        <%= indiviualUserObject.name %>
                    </strong></p>
            <% } %>
        <% }) %>
        <hr />
        <%- include('./DynamicReqBlog') %>
    </div>
</div>