<%- include('../partials/head.ejs') %>


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">
            <%= title %>
        </h1>
        <hr />
        <p class="lead">
            <%= content %>
        </p>
    </div>
</div>