
<form action="/" method="post" class="">
    <div class="container">
        <div class="mb-3">
            <label for="title" minlength="10" class="form-label">Title</label>
            <input type="text" placeholder="Enter the title" class="form-control" name="title">
        </div>
        <div class="mb-3">
            <label for="content">Content</label>
            <textarea minlength="200" class="form-control" placeholder="Write your content here! (supprots markdown syntax!)" name="content"></textarea>
        </div>
        <div class="mb-3">
            <label for="content">Preview</label>
            <textarea maxlength="400" minlength="50" class="form-control" placeholder="Write the text to be displayed as the preview for the blog! (text only, supports markdown syntax)" name="preview"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>